# Assignment 1 - Pandas dataframes Scaling

Motivation - Iris flowers:
<table align='left'>
    <tr><th>Iris Setosa</th><th>Iris Virginica</th><th>Iris Versicolor</th></tr>
    <tr>
        <td><img src="Iris-versicolor.jpg" alt="Iris Versicolor" style="width: 200px;"/></td>
        <td><img src="iris_setosa.jpg" alt="Iris Setosa" style="width: 200px;"/></td>
        <td><img src="iris_virginica.jpg" alt="Iris Virginica" style="width: 200px;"/></td>
    </tr>
</table>

#### We want to Scale the measurments:
<img src="iris_petal_sepal.png" alt="Iris" style="width: 200px;" align='left'/>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## The following 2 functions are mandatory to get your details

In [2]:
# write a function returning your full name i
def myName():
    return 'Menahem Ovrutski'
    #raise NotImplementedError()

In [3]:
# write a function returning your ID number (as integer) 
def myId():
    return 123456789
    #raise NotImplementedError()

### Step 1 - Loading the iris data file

In [4]:
# write a function which loads a given dataframe, given a filename
# the function shall return the loaded dataframe
def loadFile(fileName):
    df = pd.read_csv(fileName)
    return df
    #raise NotImplementedError()

In [5]:
aName = myName()
aId = myId()
assert aName is not None, 'no return student name'
assert type(aName) is str, "name is not a string: %r" % aName
assert aId is not None, 'no return student id'
assert type(aId) is int, "id is not an integer: %r" % aId
print ("your name is: %s" %(aName))
print ("your id is: %d" %(aId))


df_iris_features = loadFile('iris_fearures.csv')
df_iris_features.head()

your name is: Menahem Ovrutski
your id is: 123456789

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### now we begin with the scaling
<img src="architect-scale.jpg" alt="Scale" style="width: 500px;" align='left'/>

### Step 2a - Standardizion
Standardization refers to shifting the distribution of each attribute to have a mean of zero and a standard deviation of one (unit variance).

In [6]:
# --- Important note: The implementation needs to be your own, DO NOT use any existing implementation ---
# ------------------------------------------------------------ DO NOT use any call for a library function ---
# write a function which scales a specific colum in a dataframe
# the function will recieve the dataframe, the column name and scaled column name
# the function will return the dataframe
def standardizeColumn(dataframe, colName, standardizedColName):
    deviation = dataframe[colName].std()
    mean = dataframe[colName].mean()
    dataframe[standardizedColName] = (dataframe[colName]-mean) / deviation
    return dataframe
    #raise NotImplementedError()

In [7]:
col0 = df_iris_features.columns[0]
df_iris_features = standardizeColumn(df_iris_features,col0,col0+'_standardized')
df_iris_features[[col0,col0+'_standardized']].head()

   sepal-length  sepal-length_standardized
0           5.1                  -0.897674
1           4.9                  -1.139200
2           4.7                  -1.380727
3           4.6                  -1.501490
4           5.0                  -1.018437

### Step 2b - Normalization 
Normalization refers to rescaling real valued numeric attributes into the range 0 and 1.

In [8]:
# --- Important note: The implementation needs to be your own, DO NOT use any existing implementation ---
# ------------------------------------------------------------ DO NOT use any call for a library function ---
# write a function which scales a specific colum in a dataframe
# the function will recieve the dataframe, the column name and scaled column name
# the function will return the dataframe
def normalizeColumn(dataframe, colName, normalizedColName):
    mini = dataframe[colName].min()
    maxi = dataframe[colName].max()
    dataframe[normalizedColName] = (dataframe[colName] - mini) / (maxi - mini)
    return dataframe
    #raise NotImplementedError()

In [9]:
col0 = df_iris_features.columns[0]
df_iris_features = normalizeColumn(df_iris_features,col0,col0+'_normalized')
df_iris_features[[col0,col0+'_normalized']].head()

   sepal-length  sepal-length_normalized
0           5.1                 0.222222
1           4.9                 0.166667
2           4.7                 0.111111
3           4.6                 0.083333
4           5.0                 0.194444